html,body {
      margin: auto;
      background-image: url("img/set1/93.png");
    }
    img {
      width: 200px;
      height: auto;
      margin: 15px;
      position: relative;
      margin: auto;
      display: inline-block;
      padding:1px;
      opacity: 1;
    }

.ogtech {
  opacity: 1;
  width: 200px;
  position: relative;
}